page-u-home {

  ion-footer{
    background-color: #4e4940;
    height:11%;
    color:#fff
  }

  ion-icon{
    font-size:2em;
  }

  .titulotratamento{
    font-weight: bold;
    color:#4e4940;
    font-size:1.5em
  }

  h2{
    font-weight: bold;
    color:#4e4940
  }
  h4{
    font-weight: bold;
    color:#4e4940;
  }
  h5{
    font-weight: bold;
    color:#4e4940;

  }
  h6 {
    color:#4e4940;
    font-weight: bold
  }
}
