page-imagem-sessao {
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
  }
  .custom-file-input::before {
    content: 'Escolher imagem';
    display: inline-block;
    background: #f89e33 ;
    padding:10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    height:20px;
    width: 100%;
    margin-bottom: 10px;
    text-align:center
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .preview {
    width:100%;
    height:auto;
  }

  h3{
    color: #4e4940;
    font-size: 16px;
    margin-top:30px;
    margin-bottom: 15px
  }
}
