page-splash-screen {

    .passar_login{
        background: transparent;
        border:0;
        text-align: center;
        color:#f89e33;
        font-size:1.2em;
        font-weight: 200;
        line-height:0
    }

    .scroll-content {
        margin-bottom: 0!important;
    }
}
