page-a-incluirrc {
  ion-input{
    border-bottom:1px solid #4e4940;
    font-size:18px;
    padding:0px
  }
  .btn-adicionar {
    margin-top: 10px
  }

  ul li {
    font-size:18px;
    margin-bottom: 5px
  }
}
