page-a-profissionais {
  .voltar {
    margin-left: 15px
  }

  h5 {
    color: #4e4940;
  }

  h2{
    line-height:40px
  }

  .box{
    border: 1px solid #f89e33;
    color: #4e4940;
  }

  .btnBox{
    color:#d89e33
  }
}
