<ion-header>

  <ion-toolbar color="cinza1">
    <ion-buttons left (click)="voltar()" class="voltar">
      <button ion-button icon-only>
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profissionais</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="rc">
    <ion-segment-button value="ativos">
      RC Ativos
    </ion-segment-button>

     <ion-segment-button value="cadastrados">
       RC Cadastrados
     </ion-segment-button>

     <ion-segment-button value="bloqueados">
       RC Bloqueados
     </ion-segment-button>

   </ion-segment>
</ion-header>


<ion-content padding [ngSwitch]="rc">

  <div *ngSwitchCase = "'ativos'" ngSelected="selected">
    <h5 text-center>RC Ativos</h5>

    <ion-card *ngFor="let dados of cadastros" class="box">
      <ion-card-content>
        <h3>RC: {{dados.rc}}</h3>
        <h3>Nome: {{dados.nome}}</h3>
        <h3>Telefone: {{dados.telefone}}</h3>
        <h3>Email: {{dados.email}}</h3>

        <ion-row>
           <ion-col>
             <button class="btnBox" ion-button icon-start clear small (click)="bloquear(dados.rc)">
               <ion-icon name="ios-lock-outline"></ion-icon>
               <div>Bloquear</div>
             </button>
           </ion-col>
           <ion-col>
             <button class="btnBox" ion-button icon-start clear small (click)="apagar(dados.rc)">
               <ion-icon name="ios-backspace-outline"></ion-icon>
               <div>Apagar</div>
             </button>
           </ion-col>
         </ion-row>
      </ion-card-content>

    </ion-card>
  </div>

  <div *ngSwitchCase = "'cadastrados'">
    <h5 text-center>RC Cadastrados</h5>

    <ion-card *ngFor="let dados of rcs" class="box">
      <ion-card-content>
        <ion-row>
          <ion-col col-8>
            <h2>RC: {{dados.rc}}</h2>
          </ion-col>

           <ion-col col-4>
             <button class="btnBox" ion-button icon-start clear small (click)="apagar(dados.rc)">
               <ion-icon name="ios-backspace-outline"></ion-icon>
               <div>
                 Apagar
               </div>
             </button>
           </ion-col>
         </ion-row>
      </ion-card-content>

    </ion-card>

  </div>

  <div *ngSwitchCase = "'bloqueados'">
    <h5 text-center>RC Bloqueados</h5>

    <ion-card *ngFor="let dados of bloqs" class="box">
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            <h2>RC: {{dados.rc}}</h2>
          </ion-col>

           <ion-col col-6>
             <button class="btnBox" ion-button icon-start clear small (click)="desbloquear(dados.rc)">
               <ion-icon name="ios-backspace-outline"></ion-icon>
               <div>
                 desbloquear
               </div>
             </button>
           </ion-col>
         </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>


<ion-footer>
  <button ion-button color="amarelo1" block (click)="adicionarrc()">Adicionar RC</button>
</ion-footer>
