<ion-header>

  <ion-navbar color="cinza1">
    <ion-title>Localizar profissional</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="endereco">
    <h4 text-center>Seu endereço atual</h4>
    <div class="atual">
      <ion-grid>
        <ion-row>
          <ion-col col-3><ion-icon text-center name="ios-pin-outline"></ion-icon></ion-col>
          <ion-col col-9 *ngIf="endereco != '' && cidade != '' ">
            <h6>
              {{endereco}} - {{local}}
            </h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>



  <div *ngIf="retornoBusca == 1" >

    <h4 text-center>Retorno da busca</h4>

        <div class="retorno" *ngFor="let dados of dadosBusca">
            <ion-grid>
                <ion-row>

                  <ion-col col-10>
                    <h5>Estabelecimento <br> {{dados.estabelecimento}}</h5>
                    <h5>Responsável <br> {{dados.nome}}</h5>
                    <h6>{{dados.telefone}}</h6>
                    <h6>{{dados.endereco}} - {{dados.cidade}} - {{dados.estado}}</h6>
                  </ion-col>

                  <ion-col col-2>
                    <ion-icon text-center name="ios-arrow-dropright-circle" (click)="perfil(dados.id_cadastro,dados.estabelecimento,dados.telefone,dados.endereco,dados.cidade,dados.uf)"></ion-icon>
                  </ion-col>

                </ion-row>
            </ion-grid>
        </div>
  </div>




  <div class="erro" *ngIf="retornoProfissional == 1 ">
      <ion-grid>
        <ion-row>
          <ion-col col-3><ion-icon text-center name="ios-pin-outline"></ion-icon></ion-col>
          <ion-col col-9>
            <h6>Infelizmente não temos nenhum profissional próximo de você</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <div class="profissionais" *ngIf="retornoProfissional == 2 ">
    <h4 text-center>Profissionais habilitados<br>mais próximos</h4>


    <div class="profissional" *ngFor="let item of dadosRetorno">
      <ion-grid>
        <ion-row>

          <ion-col col-10>
            <h5>{{item.estabelecimento}}</h5>
            <h6>{{item.telefone}}</h6>
            <h6>{{item.endereco}} - {{item.cidade}} - {{item.uf}}</h6>
          </ion-col>

          <ion-col col-2>
            <ion-icon text-center name="ios-arrow-dropright-circle" (click)="perfil(item.id_cadastro,item.estabelecimento,item.telefone,item.endereco,item.cidade,item.uf)"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>


</ion-content>

<ion-footer class="busca">
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-input type="text" placeholder="Digite o nome do profissional" [(ngModel)]="busca" class="campoBusca"></ion-input>
      </ion-col>
      <ion-col col-4>
        <button ion-button block color="cinza1" (click)="buscar()"><ion-icon name="ios-search-outline"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
