page-alerta-internet {
  .background {
    background-color: #f89e33;
  }

  .icone {
    color:#fff;
    font-size:6em;
    margin-top: 15%
  }

  h2 {
    color: #fff
  }

  h6 {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff
  }

  .btn-tentar {
    margin-top: 5%
  }
}
