page-p-diario {

  ion-card{
    border: 1px solid #f89e33
  }

  ion-card-header{
    background-color: #f89e33;
  }

  ion-card-content{
    color:#4e4940;
    background-color: #f4f3f3
  }

  .btn-diario{
    color:#f89e33
  }

}
