page-confirmacao-recuperacao-senha {

  .fundo {
    background-color: #4e4940;
  }
  ion-icon {
    font-size:150px;
    color: #f89e33;
  }

  .btn {
    font-size:1.2em;
    margin-top:10%;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color:#ffffff;
  }

  h5 {
    color:#ffffff;
    margin-top:10%;
  }

  h3 {
    color:#ffffff;
  }

}
