
<ion-header>

  <ion-navbar color="cinza1">
    <ion-title>Formulário de cadastro </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item class="item">
      <ion-label stacked>Nome Completo</ion-label>
      <ion-input type="text" [(ngModel)]="cadastro.nome" maxlength="125"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label stacked>CPF</ion-label>
      <ion-input type="text" [(ngModel)]="cadastro.cpf" maxlength="15"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label stacked>Data de nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="cadastro.nasc" cancelText=Cancelar doneText=Ok></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Sexo</ion-label>
      <ion-select [(ngModel)]="cadastro.sexo" class="selectSexo">
        <ion-option value="f">Feminino</ion-option>
        <ion-option value="m">Masculino</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item">
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="number" [(ngModel)]="cadastro.telefone" maxlength="15"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="cadastro.email" maxlength="125"></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-label stacked>CEP</ion-label>
      <ion-input type="text" [(ngModel)]="cadastro.cep" maxlength="10"></ion-input>
    </ion-item>

    <div *ngIf="cadastro.endereco == ''">
      <button ion-button block color="amarelo1" class="btn-completar" (click)="preencher()">Completar endereço</button>
    </div>

    <div *ngIf="cadastro.endereco != ''">

      <span (click)="preencher()" class="preencher">Atualizar endereço</span>

      <ion-item class="item">
        <ion-label stacked>Rua e Bairro</ion-label>
        <ion-input type="text" [(ngModel)]="cadastro.endereco" required></ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-label stacked>Numero</ion-label>
        <ion-input type="text" [(ngModel)]="numeroEndereco" required></ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-label stacked>Cidade</ion-label>
        <ion-input type="text" [(ngModel)]="cadastro.cidade" maxlength="225"></ion-input>
      </ion-item>

      <ion-item class="item">
        <ion-label stacked>UF</ion-label>
        <ion-input type="text" [(ngModel)]="cadastro.estado" maxlength="2" required></ion-input>
      </ion-item>

      <h6>Dados de acesso</h6>
      <ion-item class="item">
        <ion-label stacked>Login</ion-label>
        <ion-input type="text" [(ngModel)]="cadastro.login" maxlength="225"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="cadastro.senha" maxlength="225"></ion-input>
      </ion-item>

      <button ion-button block color="amarelo1" class="btn" (click)="criarConta()">Criar conta</button>
    </div>

  </ion-list>
</ion-content>
