page-alert-rc-nao-cadastrado {
  $text-input-placeholder-color: #ffffff;

    .background {
      background-color: #f89e33;
    }

    .icone {
      color:#fff;
      font-size:6em;
      margin-top: 15%
    }

    h2 {
      color: #fff
    }

    h6 {
      width: 75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #fff;
      font-size:16px
    }

    .campo-insercao{
      border-bottom:  2px solid #4e4940;
      width: 75%;
      display: block;
      margin-left:auto;
      margin-right:auto;
      color:#4e4940;
      font-size: 20px;
      text-align: center;

        ::placeholder {
          color:#fff;
          text-align:center;
          font-size:16px
        }
    }


    .btn-enviar {
      margin-top: 5%;
      width:75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .btn-voltar {
      border: none !important;
      color: #fff
    }

}
